@{
    ViewData["Title"] = "Home Page";
}

<h2>Test links</h2>
<ul>
    <li><a href="Test/SeriesNameOnly">Series name: Firefly</a></li>
    <li><a href="Test/SeriesNameInDutch">Series name: Firefly, Language: Dutch</a></li>
    <li><a href="Test/SeriesNameInUserLanguage">Series name: Firefly, User language</a></li>
    <li><a href="Test/MultipleSeries">Multiple series: Supernatural</a></li>
    <li><a href="Test/SpecialCharacter">Special character: Mike & Molly</a></li>
</ul>